body {
  color: #FFFFFB;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

section {
  padding: 30vh 0;
}

.one__icon {
  background: rgba(0,0,0,.3);
  color: rgba(0,0,0,.3);
  /* Color rgba makes the text just a little darker than background that's rgba (when they are the same color) */
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  /* putting a border radius on a perfect square, creates a nice circle! */
  display: grid;
  place-items: center;
  /* ^^^ for centering content in middle of circle */
  font-size: 2em;
}

.one {
  background: #FFC145;
  position: relative;
}

.one::after,
.one::before {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  background: #FFC145;
  bottom: -1em;
  z-index: 50;
}

.one::before {
  right: 50%;
  transform: skew(0,20deg);
}

.one::after {
  left: 50%;
  transform: skew(0,-20deg);
}

.two {
  background: #FF6B6C;
  margin-bottom: -10vw;
  position: relative;
  z-index: 10;
}

.two__image {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  /* You can use circle with clip-path ^^^*/
}

.three {
  background: #5B5F97;
}